/* Bold and Italic -> COLORS */

.markdown-source-view .cm-em, .markdown-source-view em {
  font-style: normal;
  color: Wheat ;
}

.cm-strong, strong
{
  color: Tomato;
}

/*LINKS*/

.cm-header.cm-hmd-internal-link {
  color: wheat !important;
}

.cm-hmd-barelink {
  color: lch(50 30 310) !important;
}

*:has(.cm-url.external-link) > .cm-link {
  color: wheat !important;
}

a.external-link {
  color: wheat !important;
}

/*HEADINGS*/

h1 + * {
  margin-top: 0px !important;
}

h1, h2, h3 {
  padding: 0 !important;
  margin: 0 !important;
}

.markdown-preview-view h1,
.cm-embed-block h1,
.HyperMD-header-1
/*.cm-header-1*/ {
  background-color: rgb(55, 59, 68);
  border: 1px ridge wheat;
  border-radius: 5px !important;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  padding: 6px !important;
  display: block !important;
}

.markdown-preview-view h2,
.cm-embed-block h2,
.HyperMD-header-2
/*.cm-header-2*/ {
  background: #5d5581;
  border: 1px ridge wheat;
  border-radius: 5px !important;
  padding: 4px !important;
  font-size: 17px;
  font-weight: normal;
  display: block !important;
  width: fit-content; !important;
}

.markdown-preview-view h3,
.cm-embed-block h3:not(.nav *),
.HyperMD-header-3
/*.cm-header-3*/ {
  background: DarkSlateBlue;
  border: 1px ridge wheat;
  border-radius: 5px !important;
  font-size: 17px;
  font-weight: normal;
  padding: 4px !important;
  display: block !important;
  width: fit-content; !important;
}

.markdown-preview-view h4,
.cm-embed-block h4:not(.nav *),
.HyperMD-header-4
/*.cm-header-3*/ {
  background: #352f57;
  border: 1px ridge wheat;
  border-radius: 5px !important;
  font-size: 17px;
  font-weight: normal;
  padding: 4px !important;
  display: block !important;
  width: fit-content; !important;
}

.markdown-preview-view h5,
.cm-embed-block h5:not(.nav *),
.HyperMD-header-5
/*.cm-header-3*/ {
  background: #231f35;
  border: 1px ridge wheat;
  border-radius: 5px !important;
  font-size: 17px;
  font-weight: normal;
  padding: 1px 4px 1px 4px !important;
  display: block !important;
  width: fit-content; !important;
}

/*Misc*/

.markdown-source-view.mod-cm6 hr
{
  border-color: White
}

h5.tasks-group-heading * {
  font-size: 14px;
  border: 0;
}
