.nav-files-container {
  padding-left: 2px;
}

.nav-folder-title {
  margin: 0 0 0 -20px !important;
  padding: 0 2px 0 16px !important;
  line-height: 1.4 !important;
}

.nav-file-title {
  margin: 0 0 0 -20px !important;
  padding: 0 2px 0 16px !important;
  line-height: 1.3 !important;
}

/*Bookmarks*/
.tree-item-self {
  padding: 0;
}
