.nav-files-container {
  padding-left: 2px;
}

.nav-folder-title {
  margin: 0 0 0 -20px !important;
  padding: 0 2px 0 20px !important;
  line-height: 1.5 !important;
}

.tree-item-self {
  padding-top: 0;
  padding-bottom: 0;
}
